* {font-family: Courier; box-sizing: border-box; margin: 0; padding: 0;}

h1 { font-size: 2.5em; font-weight: bold;}
h2 { font-size: 2.2em; font-weight: bold;}
h3 { font-size: 1.9em; font-weight: bold;}
h4 { font-size: 1.6em; font-weight: bold;}
h5 { font-size: 1.3em; font-weight: bold;}
h6 { font-size: 1.1em; font-weight: bold;}

ul {list-style-type: none ; margin: 5px; font-size: 1.0em; font-weight: bold;}
li {margin-left: 13px; font-size: 1.0em; font-weight: normal;}

.main_header {
    display: flex;
    padding: 8px;
    background-color: aqua;}

.container_content {
    display: flex;
    background-color: rgb(153, 183, 183);}

.nav_content {
    min-width: 300px;
    background-color: rgb(159, 128, 194);}
.nav_separator {
    background-color: black;
    color: white;
    text-align: center;
}

.main_content {
    width: 100%;
    background-color: rgb(135, 194, 128);}
        
.main_footer {
    display: flex;
    justify-content:center;
    padding: 8px;
    background-color: rgb(176, 147, 173);}
